<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Upload</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="files" multiple>
		<input type="submit" value="Upload Files">	
	</form>
	
	<form action="/download" method="get">
		<input type="submit" value="Download">	
	</form>
	<br/>
	<p id="admin"></p>
	<br/>
	<br/>
	<a href="/logout">Log out</a>
	<script>
	$.ajax({
		url:"/role",
		type:"GET",
		success: function(role){
			console.log(role);
			if(role == "admin"){
				$('#admin').append('<a href="/manage">User management</a>');
			}
		}
	});
	</script>
</body>
</html>